@import '../../vendor/bootstrap/less/bootstrap.less';

.selectMovie {
	.form-control();
	width: 30%;
}

.wrapper {
	width: 75%;
    margin: 0 auto;
}

#searchform{
	.form-inline();
	margin-top: 7px;
}

.search {
	.form-control();
	width:100%;
}

.btnSearch {
	.btn();
	.btn-info();
	.btn-sm();
}

.table {
	.table-striped();
	.table-bordered()
}

iframe {
	width:560px;
	height:315px;
	margin-left: 25%;
}